body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand .logo {
    width: 250px;
}

.navbar-nav > li > a {
    color: #8d0909;
    font-size: 30px;
}

.navbar-nav > li > a:hover {
    color: #007bff;
}

section {
    padding: 50px 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2, h3, h4 {
    margin: 10px 0;
}

.feature-img, .product-img {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

.review {
    margin: 20px 0;
    text-align: center;
    font-size: 50px;
}

.review-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #2cdb00;
    border: none;
    font-size: 50px;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.9;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
